<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.yli.SequentialStringsCreator</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>E1106D25-E01C-4170-882F-DEC535EDA136</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>388CFD06-E7A7-4BBA-BF94-986EA172BCD3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9694FA0C-9C10-4AD7-960E-CA7565260D2A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Li, Yifei</string>
	<key>description</key>
	<string>Create Sequential Strings such as "hw1 hw2 hw3" horizontally or vertically</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Sequential Strings Creator</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>388CFD06-E7A7-4BBA-BF94-986EA172BCD3</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>36</integer>
				<key>keyword</key>
				<string>ss</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Creating...</string>
				<key>script</key>
				<string>python SequentialStrings.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Create Sequential Strings</string>
				<key>title</key>
				<string>Create Sequential Strings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E1106D25-E01C-4170-882F-DEC535EDA136</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<false/>
				<key>clipboardtext</key>
				<string>{query}</string>
				<key>ignoredynamicplaceholders</key>
				<false/>
				<key>transient</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>9694FA0C-9C10-4AD7-960E-CA7565260D2A</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This simple workflow lets you create a series of sequential strings, such as "hw1 hw2 hw3 " by "hw{1-3} ", etc., horizontally or vertically.

It supports the sequence of either integer or one-digit float.

The input format is `strings {number-number} strings`, where curly braces work as identifiers.

For more examples and demos, please see the github website:

https://github.com/yli/Alfred-Sequential-Strings-Creator</string>
	<key>uidata</key>
	<dict>
		<key>388CFD06-E7A7-4BBA-BF94-986EA172BCD3</key>
		<dict>
			<key>xpos</key>
			<integer>355</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>9694FA0C-9C10-4AD7-960E-CA7565260D2A</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>E1106D25-E01C-4170-882F-DEC535EDA136</key>
		<dict>
			<key>note</key>
			<string>Create a series of sequential strings, such as "hw1 hw2 hw3 " by "hw{1-3} ", horizontally or vertically.</string>
			<key>xpos</key>
			<integer>90</integer>
			<key>ypos</key>
			<integer>85</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/yli/Alfred-Sequential-Strings-Creator</string>
</dict>
</plist>
